#nav-up {

	

}



#nav-up .nav-left{

	background-color: #425367;



}

#nav-up .online{

	color:white;

	float:right;

	font-family: 'Fira Sans', sans-serif;

}



#nav-up .nav-right{

	background-color: #757c82;

}



#nav-up .nav-admin{

	color:white;

	float:right;

	display:inline;

}

#nav-up .nav-admin {

	text-transform: none;

	padding: 0 10px;

	overflow: auto;

}



#nav-up .nav-admin > a {

	display: inline-block;

	font-family: 'Fira Sans', sans-serif;

    padding: 0px;

	color:white;

}



#nav-up .nav-admin > a:not(:last-child) {





}



#nav-up .nav-admin > a:not(:first-child) {

	margin-left: 5px;

	margin-right: 5px;

}



#nav-up .nav-admin > a:hover {

	outline: none;

	background-color: rgba(255, 255, 255, .1);

}



#nav {

	height: 70px;
    background-color: #30303085;
    position: absolute;
    width: 100%;

}

#nav .text {

	text-align:center;
	position:relative;
	z-index:2

}

#nav .nav{

	color:white;

	float:right;

	display:inline;

}

#nav .nav {

	text-transform: none;

	padding: 0 10px;

	overflow: auto;

}



#nav .nav > a {

	display: inline-block;

    padding: 10px;

    margin-right: 40px;

    margin-top: 17px;

	color:white;

	border-radius: 20px;

	font-family: 'Fira Sans', sans-serif;



}



#nav .nav > a:not(:last-child) {

	background-color:#fab711;



}



#nav .nav > a:not(:first-child) {

	margin-left: 5px;

	margin-right: 5px;

	border: 2px solid #fab711;

}



#nav .nav > a:not(:first-child):hover {

	background-color: #fab711;

}



#nav .nav > a:hover {

	outline: none;

	background-color: rgba(255, 255, 255, .1);

}

#nav .title {

	font-family: 'Anton', sans-serif;

	text-decoration:none;

	font-size:50px;

	color: white;

}

#slider {

	height: 400px;

}

#slider .title {

	font-size:40px;

	font-family: 'Anton', sans-serif;

	color:white;

}

#slider .subtitle {

	font-size:30px;

	color:white;

}

#slider .section-right {

	margin-top: 8pc;

}

#slider .link {

	font-size:20px;

	color:white;

	font-family: 'Fira Sans', sans-serif;

	text-transform:uppercase;

	float:right;

	margin-top: 10pc;

    padding: 20px;

	background-color: #425367;

	border-radius: 10px;

}

#mainNav .nav-main {

	margin-right: auto !important;

	margin-left: auto !important;

}



#mainNav {

	font-family: 'PT Sans Caption', sans-serif;

	text-transform: uppercase;

	background-color: #425367;

	text-align: center;

	position: sticky;

	top: 0px;

	z-index: 100;

	height: 50px;

	box-shadow: 1px 3px 2px 1px rgba(48, 48, 48, 0.21);

}



#mainNav a {

	color: white;

	border-right: 1px solid #757c82

}



#mainNav a:not(:last-child) {

	border-right: none;



}

#mainNav .dropd-menu {

	font-size: 14px;

	text-align: center;

	height: 40px;

	border: 1px solid black;

}



#mainNav .title-drop {

	color: black;

	text-decoration: none;

	display: block;

	height: 40px;

	padding: 8px;

}



#mainNav .title-drop:hover {

	color: white;

}



#mainNav a:hover {

	color: #fab711;

}



#mainNav .dropd-menu:hover {

	background-color: #757c82;

}



#mainNav .nav-link {

	padding: 13px

}



#loader {

	position: fixed;

	top: 0;

	left: 0;

	width: 100%;

	height: 100%;

	background-color: #fff;

	z-index: 10000;

}

#particles-js {

	position: absolute;

	z-index: 1;

	width: 100%;

	height: 25pc

}

@media (max-width: 811px) {

	#nav-up {

		font-size: 13px

	}

	#nav .title {

		font-size:30px;

	}

	#nav .nav > a {

		display: inline-block;

		padding: 6px;

		margin-right: 10px;

		color:white;

		border-radius: 20px;



	}

}

@media (max-width: 384px) {

	#nav {

		height: 120px;



	}

}

@media (max-width: 992px) {



	#mainNav {

		top: 0px;

		height: auto;

	}



}

